@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Student Registration Application</h1>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h4>Welcome!!!</h4>
            <p>
                This is a demo build with ASP.NET MVC 5.
            </p>
        </section>
    </div>
</main>